*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    box-sizing: border-box;
}

body{
    background: #262626;

}

header{
    background: black;
}

header h1{
    color: #2eb;
    text-align: center;
}

header i{
    color: beige;
}

.score{
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    border-radius: 15px;
    padding: 15px 20px;
    position: relative;
}

.badge{
    background: #2ed;
    color: #262626;
    font-size: 14px;
    padding: 10px 10px;
    border-radius: 100%;
    text-align: center;
}

#user-lable{
    position: absolute;
    top: 15px;
    left: -25px;
    background: #bee;
}


#comp-lable{
    position: absolute;
    top: 15px;
    right: -25px;
    background: red;
    color: black;

}

#user-score{
    color: #bee;
}
#comp-score{
    color: red;
}

.choices{
    text-align: center;
    margin: 50px 0;
}

.choice img{
    width: 150px;
    height: 150px;
}

.choice{
    display: inline-block;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: 0.5s;
}

.choice:hover{
    cursor: pointer;
    transform: translateY(-10px);
    border-color: #2eb;
}

#action-msg{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.end{
    margin: 0 500px;
    display: flex;
    margin: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

/* .end #user-choice{
    border: 1px solid #2eb;
    width: 250px;
    height: 250px;
}
.end #bot-choice{
    border: 1px solid #2eb;
    width: 250px;
    height: 250px;
} */

.choices button{
    border-radius: 100%;
    cursor: pointer;
}







